body{
    background-image: url("./img/skrin.png");
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.box_pamats{
    width: 90%;
    height: 85%;
    display: flex;
    padding: 20px ;

    }
.box_pamats_prop{
    flex: 1;
    background: rgba(112, 112, 112, 0.5);
    backdrop-filter:blur(10px);
    border-radius: 16px;
    display: flex;
    padding: 40px;
    }

.box1{
    flex: 1;
    display: flex;
}

    
.box1_prop {
    width: 70%;
    background: #424242;
    border-radius: 16px;
    flex: 1;
    }

