@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Playwrite+HR+Lijeva&family=Playwrite+PT+Guides&family=Shafarik&family=Sigmar&family=VT323&display=swap');
@import url("https://unpkg.com/@fontsource/unifont/index.css");

body{
    background-image: url("./img/skrin.png");
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    
}
.linija{
    width: 100%;
    height: 45px;
    background: rgba(112, 112, 112, 0.5);
    backdrop-filter:blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.box_pamats{
    width: 80%;
    height: 85%;
    display: flex;
    padding: 20px ;

    }
.box_pamats_prop{
    flex: 1;
    background: rgba(112, 112, 112, 0.5);
    backdrop-filter:blur(10px);
    border-radius: 16px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 10px;
    }

.box1{
    flex: 1;
    display: flex;
    width: 100%;
}

    .box1_prop {

    background: #424242;
    border-radius: 16px;
    flex: 1;
    width: 100%;
    }
.logotips{
    width: 30%;
    height: auto;
    align-self: flex-start;
    
}
.text_main{
    font-size: 25px;
    color: white;
    text-align: justify;
}

.text_box{
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Unifont", monospace;
    font-weight: bold;
    width: 45%;
    flex-shrink: 0;
   
}
h1{

    font-size: 64px;
    color: white;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 0%;
}
.hr1{
    
    border: 2px solid #f6a0d3;
    width: 40%;
    margin-left: 0%;
}


.fast_open{
    width: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-right: 3%;
    text-decoration: none;
    flex-wrap: nowrap;
    gap: 10px; 
    overflow-x: auto;
}
.fast_open_box{
    display: block;
    color: white;
    background: #424242;
    height: auto;
    width: 150px;
    border: 4px solid #f6a0d3;
    border-radius: 15px;
    box-shadow: 
        inset -4px -4px 0 #1a1a1a,
        inset 4px 4px 0 #6b6b6b;
    padding: 10px;
    font-family: "Unifont", monospace;
    font-weight: bold;
    text-align: center;
    color: white;
    transition: 0.1s;
    flex: 0 0 auto; 
    padding: 15px;
    min-width: 120px;
    
}



.part_top{
    
    display: flex;
    flex-direction: space-between;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: #6b6b6b;
    border-radius: 15px;
    
}

img{
    display: flex;
    width: 100%;
    height: 50%;
}

.fast_open_box_tekst{
    font-size: 32px;
    margin-top: 5%;
    margin-bottom: 15%;
}

.topchik{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;

}
.home_poga{
    background: rgba(78, 78, 78, 0.1);
    margin-left: 20px;
    border-radius: 8px;
    padding: 10px 20px;
    backdrop-filter: blur(10px);
    transition: 0.2s; 
    border: 0px;
    cursor: pointer;
}
.home_poga:hover{
    background: #f6a0d3;

}
.valodas{
    display: flex;
    gap: 5px;
    margin-left: auto;
    margin-right: 20px;
}
.lang{
        background: rgba(78, 78, 78, 0.1);
    color: #f6a0d3;
    border-radius: 8px;
    padding: 10px 20px;
    backdrop-filter: blur(10px);
    transition: 0.2s; 
    border: 0px;
    cursor: pointer;
}

.valodas .lang:hover{
    background: #f6a0d3;
    color: white;
}

.bi{
    color: #f6a0d3;
}

.home_poga:hover .bi{
    color: white;
}
