@import url("https://unpkg.com/@fontsource/unifont/index.css");

body{
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Unifont", monospace;
    font-size: 64px;
    color: black;
    text-align: center;
    

}

.gif {

    margin: 0 auto;

}